# --- IntelliJ IDEA ---
.idea/
*.iml
out/
.shelf/

# --- Gradle (Das Wichtigste für dich!) ---
.gradle/
build/
startup.bat
gradle.properties
# --- Reste von Maven (kann drin bleiben) ---
target/
dependency-reduced-pom.xml

# --- Projekt Ressourcen (Ausgeschlossen) ---
src/main/resources/


# --- Build Artifacts ---
*.jar

# --- System-Dateien ---
.DS_Store
Thumbs.db
.env
*.key
